
<section class="container-fluid" id="section1">
  <h1 class="text-center v-center">Custom Web Apps</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2 text-center"><h3>Timely</h3><p>As your web developer, my goal is to have an open line of communication, so you get what you want, when you want it. </p><i class="fa fa-clock-o fa-5x"></i></div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center"><h3>Simple</h3><p>You'll never need cumbersome 'instructions' pages. Users will know exactly how they are supposed to use your app</p><i class="fa fa-cube fa-5x"></i></div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="row">
        <div class="col-sm-10 text-center"><h3>Affordable</h3><p>I build simple yet scalable apps for a variety of purposes. And as a single person business, I won't charge an arm and a leg</p><i class="fa fa-dollar fa-5x"></i></div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid" id="section2">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1>Algorhythms LLC is a 1-man web development company</h1>
      <br>
      <p class="lead">Aaron Glasenapp is a web developer with experience building Ruby on Rails applications. Although new to the profession, he can help individuals and businesses accomplish common website needs. In a past life Aaron taught high school math. He still remains a dedicated recreational mathematician.</p>
      <br>
      <%= image_tag 'aaron.jpg', class: 'img-responsive center-block', size: '150x150' %>

    </div>
  </div>
</section>

<section class="container-fluid" id="section3">
  <h1 class="text-center">Best Practices in Web Development</h1>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p class="text-center lead">We use Rails for a robust back-end <br/>and Bootstrap to make the front-end pretty</p>
      <div class="row">
        <div class="col-xs-6 rails_link"><a href="http://rubyonrails.org" target="_blank">Ruby on Rails is a full stack framework for building scalable web apps</a></div>
        <div class="col-xs-6 text-right rails_link"><a href="http://getbootstrap.com" target="_blank">Bootstrap is a front-end framework that makes things look great!</a></div>
      </div>
      <p class="text-center">
        <i style="font-size:120px" class="fa fa-laptop fa-5x"></i>
      </p>
    </div>
  </div>
</section>

<section class="container-fluid" id="section4">
  <h2 class="text-center">Just for fun, enjoy this cellular automata</h2>
  <div class="row">
    <div align="center">
      <script src="http://www.khanacademy.org/cs/conways-game-of-life-adjustable-size/5738866657984512/embed.js?editor=no&amp;buttons=no&amp;author=no&amp;embed=yes"></script>

    </div>
  </div>
</section>

<section class="container-fluid" id="section5">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h2 class="list-group-item-heading">Basic</h2>
            <h6>Free to get started</h6>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 100 - more about this</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 2 - this is more about this</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 3 GB</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 4</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Feature</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Feature</p>
          </a>
          <a href="#" class="list-group-item">
            <button class="btn btn-primary btn-lg btn-block">Get Started</button>
          </a>
        </div>
      </div><!--/left-->

      <div class="col-sm-4 col-xs-12">
        <div class="list-group text-center">
          <a href="#" class="list-group-item active">
            <h2 class="list-group-item-heading">Better</h2>
            <h6>Most popular plan</h6>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 200 - more about this</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 2 - this is more about this</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 5 GB</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 6</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Feature</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Feature</p>
          </a>
          <a href="#" class="list-group-item">
            <button class="btn btn-default btn-lg btn-block">$10 per month</button>
          </a>
        </div>
      </div><!--/middle-->

      <div class="col-sm-4 col-xs-12">
        <div class="list-group text-right">
          <a href="#" class="list-group-item active">
            <h2 class="list-group-item-heading">Best</h2>
            <h6>For enterprise grade</h6>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 100 - more about this</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 2 - this is more about this</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 8 GB</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Option 10</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Unlimited</p>
          </a>
          <a href="#" class="list-group-item">
            <p class="list-group-item-text">Unlimited</p>
          </a>
          <a href="#" class="list-group-item">
            <button class="btn btn-default btn-lg btn-block">$20 per month</button>
          </a>
        </div>
      </div><!--/right-->

    </div><!--/row-->
  </div>
</section>

<section class="container-fluid" id="section6">
  <h2 class="text-center">GitHub Contributions</h2>
  <div align="center">
    <%= image_tag 'github_chart.png' %>
  </div>
</section>

<section class="container-fluid" id="section7">
  <h1 class="text-center">
      Find
      <%= link_to 'http://abuot.me/aaron_glasenapp', style: 'opacity: 0.1', target: '_blank' do %>
        <%= image_tag 'aboutme.png' %>
      <% end %>
      on the web
  </h1>
  <div class="row">
    <!--fontawesome icons-->
    <div class="col-sm-1 col-sm-offset-3 col-xs-4 text-center">
      <a href="http://github.com/glassbead0" target="_blank"><i class="fa fa-github fa-4x"></i></a>
    </div>
    <div class="col-sm-1 col-xs-4 text-center">
      <a href="https://www.linkedin.com/pub/aaron-glasenapp/61/346/839" target="_blank"><i class="fa fa-linkedin-square fa-4x"></i></a>
    </div>

    <div class="col-sm-1 col-xs-4 text-center">
      <a href="https://plus.google.com/+AaronGlasenapp" target="_blank"><i class="fa fa-google-plus fa-4x"></i></a>
    </div>

    <div class="col-sm-1 col-xs-4 text-center">
      <a href="http://aaronglasenapp.wordpress.com" target="_blank"><i class="fa fa-wordpress fa-4x"></i></a>
    </div>
    <div class="col-sm-1 col-xs-4 text-center">
      <a href="http://facebook.com/algorhythms"><i class="fa fa-facebook-square fa-4x"></i></a>
    </div>
    <div class="col-sm-1 col-xs-4 text-center">
      <a href="https://twitter.com/glassbead9" target="_blank"><i class="fa fa-twitter fa-4x"></i></a>
    </div>

  </div><!--/row-->
</section>

<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 column">
        <h4>Information</h4>
        <ul class="nav">
          <li><a href="about-us.html">Products</a></li>
          <li><a href="about-us.html">Services</a></li>
          <li><a href="about-us.html">Benefits</a></li>
          <li><a href="elements.html">Developers</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3 column">
        <h4>Follow Us</h4>
        <ul class="nav">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Google+</a></li>
          <li><a href="#">Pinterest</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3 column">
        <h4>Contact Us</h4>
        <ul class="nav">
          <li><a href="#">Email</a></li>
          <li><a href="#">Headquarters</a></li>
          <li><a href="#">Management</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3 column">
        <h4>Customer Service</h4>
        <ul class="nav">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div><!--/row-->
  </div>
</footer>
