<h1>Welcome to Algorhythms</h1>

<p>I'm currently building this site to tell you that I can build websites.</p>
<p>While you wait, enjoy a 2-D cellular automata!</p>
<!--<table>-->
  <!--<%# @qr.modules.each_index do |x| %>-->
    <!--<tr>-->
      <!--<%# @qr.modules.each_index do |y| %>-->
        <!--<%# if @qr.dark?(x,y) %>-->
          <!--<td class="black"/>-->
        <!--<%# else %>-->
          <!--<td class="white"/>-->
        <!--<%# end %>-->
      <!--<%# end %>-->
    <!--</tr>-->
  <!--<%# end %>-->
<!--</table><br/>-->

<script src="http://www.khanacademy.org/cs/conways-game-of-life-adjustable-size/5738866657984512/embed.js?editor=no&amp;buttons=no&amp;author=no&amp;embed=yes"></script>
