/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  background-image: url('ordessa_sm.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.rails_link a:hover {
  color: #ddd
}

.rails_link a:visited {
  color: #ddd
}

.rails_link a:active {
  color: #ddd
}

@media screen and (max-width: 500px) {
  #section4, .no_mobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 0px 0px 0px 0px;
    width: 0%;
    display: none;
  }
}

@media screen and (max-width: 700px) {
  #section6, .no_mobile_md {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 0px 0px 0px 0px;
    width: 0%;
    display: none;
  }
}

table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
}
td.black { background-color: #000; }
td.white { background-color: #fff; }
